
#formData {
    width: 500px;
    padding: 10px 0 0 20px;
    border: 3px solid #808080;
}

#contentBlock {
    padding-top: 50px;
}

#topContent {
    margin-top: 75px;
}

#tipCalcForm {
    width: 500px;
    padding: 10px 0 0 20px;
    border: 3px solid #808080;
}

#tipCalcForm label {
    width: 200px;
}

.submitbutton {
    margin: 10px;
}



label {
    width: 100px;
}

footer {
    padding-top: 50px;
}

