{% extends "base.html" %}

{% block content %}
    <form action="/form" method="get">
      <!-- inputs here -->
      <label for="">First Name</label>
      <input type="text" name="first_name">
      <br><br>
      <label for="">Last Name</label>
      <input type="text" name="last_name">
      <br><br>
      <button type="submit">Submit Form</button>
    </form>
    
    <form>
        Search: <input type="text" name="query"/>
        <button type="submit">Submit Form</button>

    </form>

{% endblock %}